@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body {
  background: linear-gradient(#eed8ff, #d1d5ff);
  font-family: 'Ubuntu', sans-serif;
}

header {
  height: 5em;
  background-color: rgba(76, 0, 130, 0.25);
  list-style-type: decimal;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

header img {
  width: 4em;
  height: 4em;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.5em;
  border-radius: 50%;
  box-shadow: 0 0 0.5em rgba(76, 0, 130, 1);
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav li {
  list-style-type: none;
  padding: 2em 3em;
  display: inline-block;
}

footer {
  height: 10em;
  background-color: rgb(40, 35, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
}

main {
  padding: 2em;
}

p {
  padding: 0 0 0.5em;
}

p:last-child {
  padding: 0;
}
